body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

form{

    align-items: center;
    width: 25%;
    height: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label,input, select,fieldset,option{
    margin-bottom: 10px;
}

form #butonSubmit {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

h1{
    font-size: 2em;
    text-align: center;
}